* {
  box-sizing: border-box;
}

/* html {
} */

body {
  margin: 0;
  color: var(--gray3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

a {
  text-decoration: none;
  color: unset;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

/* Don't stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

a.active {
  text-decoration: underline;
}

li,
ul {
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;

  padding: 0.3em 0.6em;
  border-radius: 15px;
  border: 2px solid #000000cc;

  background-color: #ffffff99;
  font-family: 'Edu VIC WA NT Beginner', cursive;

  transition: background-color 0.3s ease, border 0.3s ease;
}

button:hover {
  border: 2px solid #00000066;
  background-color: #ffffff33;
}
